/* style.css */


html, body { margin: 0; padding: 0; }

@media all and (orientation:portrait)
{
	.parent {
		position:absolute;
		z-index:0;
		display:table;
		height:480px;
  		width:320px;
		background:url('pbgph.png');		
		background-repeat:no-repeat;

	}

	.up {
		position:absolute;
		z-index:5;
  		height:158px;
  		width:158px;
		top:161px;
		left:81px;
		display: table-cell;
		background:url('up.png');		
	}
	.down {
		position:absolute;
		z-index:4;
  		height:158px;
  		width:158px;
		top:161px;
		left:81px;
		display: table-cell;
		background:url('down.png');		
	}
	.action {
		position:absolute;
		z-index:6;
  		height:158px;
  		width:158px;
		top:161px;
		left:81px;
		display: table-cell;
	}
}


@media all and (orientation:landscape)
{

	.parent {
		position:absolute;
		z-index:0;
		display:table;
		height:320px;
  		width:480px;
		background:url('lbgph.png');		
		background-repeat:no-repeat;

	}

	.up {
		position:absolute;
		z-index:5;
  		height:158px;
  		width:158px;
		top:81px;
		left:161px;
		display: table-cell;
		background:url('up.png');		
	}
	.down {
		position:absolute;
		z-index:4;
  		height:158px;
  		width:158px;
		top:81px;
		left:161px;
		display: table-cell;
		background:url('down.png');		
	}
	.action {
		position:absolute;
		z-index:6;
  		height:158px;
  		width:158px;
		top:81px;
		left:161px;
		display: table-cell;
	}
}

